{% extends "layout.html" %}

{% block title %}Add Todo{% endblock %}

{% block content %}
<div class="container">
    <form method="post" class="text-white" >
        {% csrf_token %}
        <h1 class="h-10 flex justify-center items-start font-bold text-2xl text-center">Add Your Todo</h1>
        {{form.as_p}}
        <button action="submit"  class="h-10 w-20 bg-cyan-600 p-2 rounded-md hover:bg-cyan-700">Add</button>
        <a href="{% url "all_todos" %}"><button  class="h-10 w-20 bg-cyan-600 p-2 rounded-md hover:bg-cyan-700">Back</button></a>
    </form>
</div>
{% endblock %}